header {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: left;
  background-color: #6f5499;
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  background-repeat: repeat-x;
}

#header-container > h1 {
  margin-top: 0;
  color: #fff;
  font-size: 3em;
}

#header-container > h3 {
  color: #cdbfef;
}

body {
  font-size: 24px;
  background-color: #efefef;
}

#cities-container {
  margin-top: 2em;
}

.thumbnail {
  height: 410px;
  width: 300px;
}

.caption > p {
  font-size: 18px;
}
